.explorecard
{
    margin: 10px 0px 25px 0px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
}

.explorexard_cover
{
    height: 250px;
    width: 280px;
    border-radius: 15%;
    position: relative;
}

.explorecard_img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}