.header
{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-logo
{
    max-width: 100px;
    height: 30px;
    margin-right: 20px;
}

.header_right
{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header_location_search_container
{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: var(--primarybox_shadow);
    border: 1px solid var(--whiterborder);
    width: 70%;
    background-color: var(--primarybg);
}


.loction_wrapper
{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0px 10px;
}

.location_icon_name
{
    display: flex;
    color: var(--location_icon_name_color);
}


.location_icon
{
    color: var(--location_icon_color);
    font-size: 22px;
    margin-right: 7px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.location_search_separator
{
    height: 20px;
    border:1px solid var(--location_search_separator_color);

}

.header_profile_img
{
    height: 30px;
    width: 30px;
}