.maxwidth
{
    max-width: 1000px;
    margin: 0px auto;
}

.allcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor_pointer
{
    cursor: pointer;
}

.collection_title
{
    font-size: 25px;
    color: var(--delivery_coll_text);
    margin-bottom: 30px;
    font-weight: 600;
}