#root
{
    --primarybox_shadow:rgb(28 28 28 /70%) 0px 2px 8px;
    --whiterborder: rgb(237, 237, 237);
    --primarybg:rgb(215, 249, 224);
    --location_icon_name_color:rgb(103, 103, 120);
    --location_icon_color:rgb(216, 28, 28);
    --location_search_separator_color:black;
    --white:white;
    --inactive_text:#575759;
    --inactive_color:#f8f8f8;
    --white:#ffffff;
    --filtertext:#9c9c9c;
    --gray:#808080;
    --delivery_coll_text:rgb(31, 32, 31);
    --collection_shadow:rgb(0 0 0/ 8%) 0px 3px 12px;

    
}